DATABASE_URL="postgresql://postgres:postgres@localhost:5432/coffea"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/coffea"
AUTH_SECRET="replace-with-random-32-char-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME="demo"
CLOUDINARY_API_KEY="demo"
CLOUDINARY_API_SECRET="demo"
RESEND_API_KEY="demo"
BUSINESS_EMAIL="hello@coffeacafe.com"
CHAPA_SECRET_KEY="demo"
TELEBIRR_API_KEY="demo"
